.bg-main {
  background-color: #2b193d;
}

.text-main {
  color: #7d82b8;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: white;
}

.display-0 {
  font-size: 16em;
}

.highlight:hover {
  background-color: #7d82b8;
  color: white;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
