.bg-main {
  background-color: #2b193d;
}

.text-main {
  color: #7d82b8;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: white;
}

.display-0 {
  font-size: 5em;
}

.highlight:hover {
  background-color: #7d82b8;
  color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
