.bg-main {
  background-color: #2b193d;
}

.text-main {
  color: #7d82b8;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: white;
}

.display-0 {
  font-size: 16em;
}
